.main {
    margin: 20px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.dataGrid {
    margin-top: 20px;
}

.button:global(.MuiButtonBase-root) {
    margin-right: 10px;
    margin-bottom: 10px;
}
