.form {
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px 20px;
    margin: auto 0;
}

.dialog div:global(.MuiPaper-root) {
    width: 100%;
    max-width: 350px;
    background-color: rgba(255, 255, 255, 0.85);
}

.dialog div:global(.MuiAlert-root) {
    width: auto;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.7);
}

.form .submitButton:global(.MuiButtonBase-root) {
    margin-top: 50px;
}

.dialog div:global(.MuiBackdrop-root) {
    background-image: url("../Images/login_bg.jpg");
}