.main {
    margin: 20px;
    height: auto;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.card {
    width: 350px;
    margin: 10px auto 10px auto;
}

.cardFullWidth {
    width: 100%;
    margin: 10px auto 10px auto;
}

.dataGrid {
    margin-top: 10px;
}

.form {
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    background: white;
    padding: 0 20px 0 20px;
    margin: auto 0;
}

.form .submitButton {
    margin-top: 50px;
}